.bsbs-tab-item{
   
}
.bsbs-tab{
    display: flex;
    flex-direction: column;
    width:80%;
    height: 80vh;
    margin: 1em;
}
.bsbs-tab-title-ul{
    display: flex;
    align-content: space-between;
    width: 80%;
    margin-bottom: -1px;
    z-index: 100;
}

.bsbs-tab-title-ul li{
  padding: 5px 10px;
    border: 1px gray solid;
    background: beige;
    transition: all 0.3s ease-in-out;
}

.bsbs-tab-title-ul li:hover{
 
    background: cadetblue;
}

.bsbs-tab-title-ul li.active{
  
    border-bottom:none;
    
}

.bsbs-tab-item-title{
   cursor: pointer;
}

.bsbs-tab-content{
    border: 1px darkslateblue solid;
    background: beige;
    height:80%;
    padding:1em;
}

.hidden{
    display: none;
}