<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href='../../public/css/style.css' />
</head>
<body>
		<div id='mainDiv'>
	     welcome <%- react %>
	</div>
	<script type="text/javascript" src='../../public/dist/vendor.bundle.js'></script>
	<script type="text/javascript" src='../../public/dist/app.js'></script>
</body>
</html>