/* Styles go here */
html, body{
  padding:0;
  margin:0;
}

*{
  transition: all 0.5s ease-in-out;
}


.footer{
  background: gray;
  height:50px;
}


.space{
    margin-top: 300px;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
     position: static; 
    /* left: -9999px; */
     opacity: 1;
}



